.records {
  padding-left: 0;
  list-style-type: none;
}
.student {
  background-color: #ddd;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
}
.student data {
  text-align: right;
}
.photo {
  width: 2em;
  height: 2em;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}